<ion-header>
  <ion-navbar text-center color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pago de Cuota</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form id='form' (ngSubmit)="onSubmit()" #form="ngForm">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-xl-6>
          <ion-list>
            <ng-container *ngIf="registraPagosDeTerceros()">
              <ion-item-divider color="light" id="sdomovscat1">
                Registro de Pago de cuota a jugador
              </ion-item-divider>
              <div>
                <p>
                  Seleccione un jugador y luego ingrese el monto abonado para registrar el pago.
                </p>
                <p>
                  El movimiento ingresado afectará tanto el saldo de la categoría como la cuenta personal del jugador.
                </p>
              </div>
            </ng-container>
            <ng-container *ngIf="!registraPagosDeTerceros()">
              <ion-item-divider color="light" id="sdomovscat1">
                Solicitud de Pago
              </ion-item-divider>
              <div>
                <p>
                  Ingresá el monto que pagaste y confirmá la solicitud para que le tesorero lo apruebe.
                </p>
                <p>
                  Los saldos no se verán afectados y el movimiento quedará pendiente hasta que el tesorero confirme que
                  recibió los fondos.
                </p>
                <p>
                  Al confirmar enviaremos una notificación avisando de tu solicitud.
                </p>
              </div>
            </ng-container>
            <ion-item>
              Concepto: <span item-end>{{concepto.nombre}}</span>
            </ion-item>
            <ng-container *ngIf="registraPagosDeTerceros()">
              <ion-item>
                <ion-label>
                  Jugador:
                </ion-label>
                <ion-select okText="Ok" cancelText="Cancelar" required [(ngModel)]="movimiento.jugador" name="usuario"
                  placeholder="Seleccione jugador">
                  <ion-option *ngFor="let u of usuarios" [id]="u._id" [value]="u">
                    {{u.nombre}} {{u.apellido}}
                  </ion-option>
                </ion-select>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="!registraPagosDeTerceros()">
              <ion-item>
                Jugador: <span item-end>{{usuario.nombre}} {{usuario.apellido}}</span>
              </ion-item>
            </ng-container>
            <ion-item>
              <ion-label>
                Monto:
              </ion-label>
              <ion-input text-right type="text" required pattern='^[1-9][0-9]*$' [(ngModel)]="movimiento.monto"
                placeholder="Ej: 800" name="monto" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label>
                Comentario:
              </ion-label>
              <ion-textarea text-right [(ngModel)]="movimiento.comentario" #movimiento.comentario="ngModel" ngModel
                required name="comentario" rows=5 [placeholder]="getPlaceHolderText()"></ion-textarea>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-xl-2>
          <button id="confPago" type="submit" ion-button block color="positive" [disabled]="form.form.invalid">
            Confirmar
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>