ion-label{
    color:#000 !important
    
}

.error-message{
    font-size: smaller;
    color: #ec0a0a;
    font-weight: 500;
    text-align: end;
    margin-top: 2px;
}

ion-item-divider{
    padding: left 10px !important;
    font-weight: 900 !important;
}
.title{
    color: #000;
    font-weight: 900;
}